# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
test-druid/target/classes/META-INF/MANIFEST.MF
test-transacion/target/classes/META-INF/maven/name.taolei.zealot/test-transacion/pom.properties
test-transacion/target/classes/META-INF/MANIFEST.MF
test-tomcat/target/classes/META-INF/maven/name.taolei.zealot/test-tomcat/pom.properties
test-tomcat/target/classes/META-INF/MANIFEST.MF
test-thread/target/classes/META-INF/maven/name.taolei.zealot/test-thread/pom.properties
test-thread/target/classes/META-INF/MANIFEST.MF
test-redis/target/classes/META-INF/maven/name.taolei.zealot/test-redis/pom.properties
test-redis/target/classes/META-INF/MANIFEST.MF
test-jvm/target/classes/META-INF/maven/name.taolei.zealot/test-jvm/pom.properties
test-jvm/target/classes/META-INF/MANIFEST.MF
test-enumClass/target/classes/META-INF/maven/name.taolei.zealot/test-enumClass/pom.properties
test-enumClass/target/classes/META-INF/MANIFEST.MF
*.properties
*.properties
*.properties
test-druid/src/main/resources/jdbc.properties
test-druid/target/classes/META-INF/MANIFEST.MF
test-druid/target/classes/META-INF/maven/name.taolei.zealot/test-druid/pom.properties
test-dubbo-zookeeper/test-dubbo-zookeeper-core/target/classes/META-INF/MANIFEST.MF
test-dubbo-zookeeper/test-dubbo-zookeeper-core/target/classes/META-INF/maven/name.taolei.zealot/test-dubbo-zookeeper-core/pom.properties
test-dubbo-zookeeper/test-dubbo-zookeeper-support/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
test-dubbo-zookeeper/test-dubbo-zookeeper-support/target/m2e-wtp/web-resources/META-INF/maven/name.taolei.zealot/test-dubbo-zookeeper-support/pom.properties
test-dubbo-zookeeper/test-dubbo-zookeeper-user/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
test-dubbo-zookeeper/test-dubbo-zookeeper-user/target/m2e-wtp/web-resources/META-INF/maven/name.taolei.zealot/test-dubbo-zookeeper-user/pom.properties
test-enumClass/target/classes/META-INF/MANIFEST.MF
test-enumClass/target/classes/META-INF/maven/name.taolei.zealot/test-enumClass/pom.properties
test-jvm/target/classes/META-INF/MANIFEST.MF
test-jvm/target/classes/META-INF/maven/name.taolei.zealot/test-jvm/pom.properties
test-redis/target/classes/META-INF/MANIFEST.MF
test-redis/target/classes/META-INF/maven/name.taolei.zealot/test-redis/pom.properties
test-thread/target/classes/META-INF/MANIFEST.MF
test-thread/target/classes/META-INF/maven/name.taolei.zealot/test-thread/pom.properties
test-tomcat/target/classes/META-INF/MANIFEST.MF
test-tomcat/target/classes/META-INF/maven/name.taolei.zealot/test-tomcat/pom.properties
test-transacion/target/classes/META-INF/MANIFEST.MF
test-transacion/target/classes/META-INF/maven/name.taolei.zealot/test-transacion/pom.properties
