<?xml version="1.0" encoding="UTF-8"?>
<configuration   scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>SpringBootLogback</contextName>
    <!--test/test-spring-boot/logback-->
    <property name="LOG_PATH" value="../logs/test/test-spring-boot"/>
    <property name="APPDIR" value="logback"/>
    <property name="alert" value="%yellow(at %class.%method \(%file:%line\)) "/>


    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APPDIR}/today.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APPDIR}/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-6.6level %-6.6thread %-30.30logger{20} Line:%-3.3L - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--不接受DEBUG级别日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--过滤条件-->
            <level>ERROR</level>
            <!--符合过滤条件的-->
            <onMatch>DENY</onMatch>
            <!--不符合过滤条件的-->
            <onMismatch>ACCEPT</onMismatch>
            <!--DENY 不做操作，停止-->
            <!--ACCEPT 接受，停止-->
            <!--NEUTRAL移交下一个appender-->
        </filter>
    </appender>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-6.6level) %-6.6thread %cyan(%-30.30logger{20}) Line:%boldRed(%-3.3L) - %black(%msg) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--过滤条件-->
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="name.taolei" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="FileAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>
